*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.clearfix::after{
	content: "";
    display: table;
    clear: both;
}

#container{
    width: 1800px;
    margin: 0 auto;
}

.title{
    height: 150px;
    background-color: #e579e6;
}

.banner{
    background-color: #e1d67a;
    height: 600px;
}

.title , .banner{
    margin-bottom: 30px;
}

main{
    background-color: #0086ff;
    margin-bottom: 10px;
}

.header-main{
    height: 150px;
    background-color: #abcfe7;
}

aside, .parte-centrale {
    height: 800px;
    background-color: #abcfe7;
    margin: 15px 0;
    float: left;
}

aside{
    width: calc((1800px - 1100px - 30px) /2);
}

.parte-centrale{
    width: 1100px;
    margin: 15px;
}

#contact{
    height: 80px;
    background-color: #8801fe;
}